<a href="https://colab.research.google.com/github/alfmorais/python_projeto_controle_de_cotas_de_disco/blob/main/df_sem_indice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

tabela = pd.DataFrame({
    'Nomes': ['Alfredo', 'Denise', 'Helena'],
    'Idade': [28, 31, 1],
    'Sexo': ['M', 'F', 'F'],
})

tabela

     Nomes  Idade Sexo
0  Alfredo     28    M
1   Denise     31    F
2   Helena      1    F

In [6]:
print(tabela.to_string(index=False))

   Nomes  Idade Sexo
 Alfredo     28    M
  Denise     31    F
  Helena      1    F