<a href="https://colab.research.google.com/github/alfmorais/python_projeto_controle_de_cotas_de_disco/blob/main/dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nomes = ['Alexandre', 'Eduardo', 'Henrique', 'Murilo', 'Theo', 'Andre', 'Enrico',
         'Henry', 'Nathan', 'Thiago', 'Antonio', 'Enzo', 'Ian', 'Otavi', 'Thomas',
         'Augusto', 'Erick', 'Isaac', 'Pietro', 'Vicente', 'Breno', 'Felipe', 
         'Joao', 'Rafael', 'Vinicius', 'Bruno', 'Fernando', 'Kaique', 'Raul', 
         'Vitor', 'Caio', 'Francisco', 'Leonardo', 'Rian', 'Yago', 'Caua',
         'Frederico', 'Luan', 'Ricardo', 'Ygor', 'Daniel', 'Guilherme', 'Lucas', 
         'Rodrigo', 'Yuri', 'Danilo', 'Gustavo', 'Mathias', 'Samuel', 
         'Arthur Gabriel',	'Joao Vitor', 'Arthur Miguel','Luiz Felipe', 
         'Carlos Eduardo', 'Luiz Gustavo', 'Davi Luiz', 'Luiz Henrique',
         'Davi Miguel', 'Luiz Miguel', 'Enzo Gabriel', 'Luiz Otavio', 
         'Enzo Miguel', 'Lucas Gabriel', 'Joao Gabriel', 'Pedro Henrique', 
         'Joao Guilherme	', 'Pedro Lucas', 'Joao Lucas', 'Pedro Miguel', 
         'Joao Miguel', 'Vitor Hugo', 'Joao Pedro', 'Agatha', 'Camila', 'Esther', 
         'Isis', 'Maite', 'Natalia', 'Alicia', 'Carolina', 'Fernanda', 'Joana', 
         'Malu', 'Nicole', 'Amanda', 'Catarina', 'Gabriela', 'Lais', 'Maria', 
         'Olivia', 'Ana', 'Cecilia', 'Gabrielle', 'Lara', 'Mariah',
         'Pietra', 'Antonela', 'Clara', 'Giovanna',	'Larissa', 'Mariana', 
         'Rafaela','Aurora', 'Clarice',	'Giulia', 'Lavinia', 'Marina', 'Rebeca', 
         'Barbara',	'Eduarda', 'Heloisa', 'Leticia',	'Maya', 'Sara', 'Beatriz', 
         'Elisa', 'Isabel', 'Liz', 'Melissa', 'Sophie', 'Bianca', 'Emanuelly', 
         'Isabelly', 'Lorena', 'Milena', 'Stella', 'Bruna', 'Emilly', 'Isadora', 
         'Luana', 'Mirella', 'Vitoria', 'Yasmin', 'Ana Beatriz', 'Maria Eduarda', 
         'Ana Cec√≠lia', 'Maria Fernanda', 'Ana Clara', 'Maria Flor', 'Ana Julia',	
         'Maria Helena', 'Ana Laura','Maria Isis', 'Ana Livia', 'Maria Julia', 
         'Ana Luiza', 'Maria Laura', 'Ana Sofia', 'Maria Luiza', 'Ana Vitoria',	
         'Maria Sophia', 'Maria Alice',	'Maria Valentina','Maria Cecilia', 
         'Maria Vitoria', 'Maria Clara', 'Alvaro', 'Cicero', 'Gael',
         'Lino', 'Salomao', 'Amado', 'Ciro', 'Gaspar',	'Lourenco',	'Santiago',
         'Antony', 'Conrado',	'Goncalo', 'Martim', 'Serafim', 'Bartolomeu',	
         'Cristovao', 'Gregorio', 'Nicolas', 'Tadeu', 'Benedito', 'Dante', 
         'Guilhermo', 'Noah', 'Tome', 'Benicio', 'Dimitri', 'Hermano', 'Nuno', 
         'Valentino', 'Benito', 'Dom', 'Icaro', 'Oliver', 'Vince', 'Benjamin', 
         'Emanuel', 'Inacio', 'Oscar', 'Zion', 'Bento', 'Ernesto', 'Levi', 
         'Romeu', 'Calebe', 'Franco', 'Lince','Ruan', 'Assucena', 'Augusta', 
         'Coralina', 'Hortensia', 'Martina', 'Pilar','Adele', 'Ayla', 
         'Dora', 'Iolanda', 'Matilda', 'Ramona', 'Agnes', 'Benedita',
         'Eleonara', 'Julieta', 'Melina', 'Serena', 'Alegra', 'Betina', 
         'Esperanca', 'Lia', 'Mia', 'Tarsila', 'Allana', 'Branca', 'Estrela', 
         'Linda', 'Micaela', 'Teodora', 'Amelia', 'Caetana', 'Felipa', 
         'Lolita', 'Naomi', 'Ursula', 'Amora',
         'Carlota', 'Flora', 'Louise', 'Olga', 'Vida', 'Anabel', 
         'Celina', 'Florenca', 'Frederica', 'Mabel', 
         'Luna', 'Pandora',	 'Violeta', 'Analu', 'Charlote', 
         'Penelope', 'Zoe', 'Anastacia', 'Constanca', 'Gaia', 'Maia', 'Perola',	
         'Angelina', 'Cora', 'Guadalupe', 'Margarida', 'Petra']

In [4]:
lista_byte = list(range(1000000))

In [5]:
import random as rand

In [6]:
lista_nomes = rand.sample(nomes, 10)
lista_bytes = rand.sample(lista_bytes, 10)

In [7]:
import pandas as pd

dataframe = pd.DataFrame({
    'Nomes': lista_nomes,
    'Dados': lista_bytes,
})

In [8]:
print(dataframe)

           Nomes   Dados
0        Violeta  771993
1  Arthur Miguel  597434
2         Milena  452206
3         Sophie  291814
4          Andre  925515
5           Rian  286705
6        Nicolas  335546
7         Aurora  696200
8        Beatriz  877570
9        Augusta  321899

In [9]:
tabela = dataframe.to_string(index=False)
print(tabela)

         Nomes   Dados
       Violeta  771993
 Arthur Miguel  597434
        Milena  452206
        Sophie  291814
         Andre  925515
          Rian  286705
       Nicolas  335546
        Aurora  696200
       Beatriz  877570
       Augusta  321899